.agreement-wrap {
  padding: 20rpx;
  .title {
    font-size: 16px;
  }
  .module {
    margin-top: 10rpx;
    line-height: 1.6;
    .sub-title {

    }
  }
  box-sizing: border-box;
  p {
    margin-bottom: 12px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
  }
  p span {
    font-size: 16px;
    font-weight: bold;
  }
  .text-indent {
    text-indent: 33px;
  }
}