.dept-wrap {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #ffffff;
  .dept-content {
    padding: 40rpx;
    .dept-item {
      margin-bottom: 10rpx;
      .dept-name {
        display: flex;
        align-items: center;
        // background-color: #efefef;
        border-bottom: 1rpx solid #efefef;
        padding: 20rpx 20rpx;
        .dept-name-value {
          margin-left: 10rpx;
        }
        
      }
      .dept-sub-list {
        margin-top: 10rpx;
        // background-color: #efefef;
        .dept-sub-item {
          padding: 0rpx 0rpx 0rpx 46rpx;
          box-sizing: border-box;
          margin-bottom: 10rpx;
          .dept-sub-name {
            display: flex;
            align-items: center;
            // background-color: #efefef;
            border-bottom: 1rpx solid #efefef;
            padding: 10rpx 20rpx;
          }
        }
      }
      .options {
        flex: 1;
        text-align: right;
        .nut-icon {
          margin-left: 20rpx;
        }
      }
    }
  }
  .add-btn {
    margin-top: 40rpx;
  }
}